body{
    background-color: #0A9D56;
    
}
main{
    background: #fff;
    height:600px;
    display: flex;
    flex-direction: column;
    margin-inline: 10px;
    margin-block: 10px;
    padding-bottom: 20px;
    align-items: center;
}
.superior{
    display: flex;
    width: 100%;
    padding-top: 30px;
    text-align: center;
    align-items: center;
    flex-direction: column;
background: #0A9D56;
background: linear-gradient(180deg,rgba(10, 157, 86, 1) 0%, rgba(79, 181, 121, 1) 21%, rgba(0, 0, 0, 0) 100%);
}
#ImagenVendedor{
    width: 30%;
    height: auto;
    border-radius: 80%;
}
.Contactobtn{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    gap: 25px
}
.botoncontacto{
    width: 80%;
    height: auto;
    background-color: #0a9d56;
    border-radius: 20px;
    padding: 15px;
}
.buttons{
    display: flex;
    width: 100%;
    gap: 20px;
    flex-direction: column;

    
}
.buttonactions{
    width:100%;
    border-radius: 15px;
    background-color: #0A9D56;
    color: #fff;
}
a{
    text-decoration: none;
    color:black;
}